<header class="page-header">
   <section class="heading" style="margin-top: 5vh">
    <h3>Rendez-vous sur <a href="https://codedot.fr" target="blank"><q>CodeDot</q></a> pour voir les prochaines dates de nos workshops. A très vite!</h3>
    </section>

  <div class="container">
    <a href="https://learn-codedot.tk/">
      <img src="/images/logo.png" alt="" id= "logo">
    </a>

{% unless page.layout == 'index' %}
      {% include share.html %}
    {% endunless %}
  </div>

</header>
<style>
  #logo {
    height: 5em;
    position: relative;
    bottom: 3em;
    left: 2em;
  }
</style>
